<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Our Humble Web Home</title>
	<link rel="stylesheet" href="static/bootstrap-4.1.3-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" href="static/css/fixed.css">
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

<!--Start Home Section-->

<div id="home">

<!--	Navigation-->

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

		<a class="navbar-brand" href="#"><img src="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		<span class="navbar-toggler-icon"></span></button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="#home">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#gallery">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#resources">Resources</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Contact</a>
				</li>
			</ul>

		</div>
	</nav>

<!--	End Navigation-->

<!--	Start Landing Page Section-->

	<div class="landing">
		<div class="home-wrap">
			<div class="home-inner">

			</div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>Our Humble Web Home</h1>
		<h3>Designs with heart</h3>
		<a class="btn btn-outline-danger btn-lg>" href="#about">Learn more...</a>

	</div>



<!--	End Landing Page Section-->

</div>
<!--End Home Section-->

<!--Start About Section-->

<div id="about" class="offset">

<!--	Start Jumbotron-->

	<div class="jumbotron">

		<div class="col-12 text-center">

			<h3 class="heading">Who are we?</h3>
			<hr class="heading-underline">


		</div>


		<div class="row">

			<div class="col-md-6 people">
				<div class="row">
					<div class="col-md-4">
						<img src="static/img/elena.jpg">
					</div>
					<div class="col-md-8">
					<h3>Elena Lemonis</h3>
						<p>Entry-level Python programmer. Has good understanding of HTML and CSS, currently learning
						Java Script. Used to design web sites back in the 2000s, and is always in awe with techonology's
							development pace. Loves to travel, hike and camp. Time spent in nature is never wasted.
						</p>
						<hr class="people-hr">
					</div>
				</div>

			</div>

			<div class="col-md-6 people">
				<div class="row">
					<div class="col-md-4">
						<img src="static/img/cookie.jpg">
					</div>
					<div class="col-md-8">
						<h3>Cookie Black Snowflake</h3>
						<p>Old Lab. Master of disaster. The CEO and a furry shoulder to cry on. Loves food, hikes and more food.
						Although old and cranky, he still shows the younger generations how it looks like when you do something
						from the heart.</p>
						<hr class="people-hr">
					</div>
				</div>

			</div>


		</div> <!-- End row div -->


</div><!--End Jumbotron-->



</div>

<!--End About Section-->


<!--Start Blog Section-->

<div id="blog" class="offset">

<div class="col-12 narrow text-center">

	<h3 class="heading">Blog</h3>
	<hr class="heading-underline">
	<p class="lead">We have put up a small blog where we will discuss the latest progress in technology, post funny
	programming memes and share photographs from our expeditions in nature. Feel free to trot along.</p>
	<a class="btn btn-secondary btn-md" href="pages/blog.html" target="_blank">Go to our blog!</a>
</div>

</div>

<!--End Blog Section-->

<!--Start Gallery Section-->

<div id="gallery" class="offset">

	<div class="text-center">

		<h3 class="heading">Gallery</h3>
		<hr class="heading-underline">
		<p class="lead">Photography is another passion of ours. If you like this sample, you are welcome to come and
		check and enjoy more of our photographs.</p>

		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_1445.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_2717.jpg" alt="" class="img-thumbnail"></div>
						<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_2816.jpg" alt="" class="img-thumbnail">
			</div>



				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_3054.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_3175.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_3303.jpg" alt="" class="img-thumbnail">
				</div>



				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_3868.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_4382.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_4772.jpg" alt="" class="img-thumbnail">

			</div>


				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_4952.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_5110.jpg" alt="" class="img-thumbnail"></div>
				<div class="col-lg-4 col-sm-6"><img src="static/img/gallery/IMG_5261.jpg" alt="" class="img-thumbnail">
				</div>


				</div>

		<a class="btn btn-secondary btn-md" href="pages/gallery.html" target="_blank">See more in our Gallery!</a>
	</div>

</div>





<!--End Gallery Section-->


<!--Start Resources Section-->

<div id="resources" class="offset">

	<div class="fixed-background">
		<div class="row dark text-center">
			<div class="col-12">

				<h3 class="heading">Built With Care</h3>
				<hr class="heading-underline">


			</div>

			<div class="col-md-2">

				<div class="feature">
					<h3>HTML 5</h3>
					<i class="fas fa-code fa-3x"></i>

				<p class="lead">Simple and essential.</p>
				</div>
			</div>

			<div class="col-md-2">

				<div class="feature">
					<h3>BOOTSTRAP 4</h3>
					<i class="fab fa-bootstrap fa-3x"></i>

				<p class="lead">Makes our lives easier since... ?</p>
				</div>
			</div>

			<div class="col-md-2">

				<div class="feature">
					<h3>CSS 3</h3>
					<i class="fab fa-css3-alt fa-3x"></i>

				<p class="lead">Spicing it all up.</p>
				</div>
			</div>

			<div class="col-md-2">

				<div class="feature">
					<h3>Python 3</h3>
					<i class="fab fa-python fa-3x"></i>

				<p class="lead">Without it, I'd never be able to read your messages or post in the blog.</p>
				</div>
			</div>

			<div class="col-md-2">

				<div class="feature">
					<h3>Java Script</h3>
					<i class="fab fa-js-square fa-3x"></i>

				<p class="lead">Love it or hate it, it beautifies further all existing beauties. (our Gallery)</p>
				</div>
			</div>

			<div class="col-md-2">

				<div class="feature">
					<h3>Heart</h3>
					<i class="fas fa-heart fa-3x"></i>

				<p class="lead">If you do something you love, you won't have to work for the rest of your life.</p>
				</div>
			</div>



		</div>


			<div class="fixed-wrap">
				<div class="fixed">

				</div>

			</div>




	</div>

</div>

<!--End Resources Section-->


<!--Start Contact Section-->

<div id="contact" class="offset">


		<div class="row justify-content-center">
			<div class="col-md-12 text-center">

				<h3 class="heading">Contact</h3>
				<hr class="heading-underline">

<div id="form_div" class="col-md-8 col-md-offset-2">
				<form id="contactform" method="POST" class="form" role="form">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6 form-group">
					<input type="text" class="form-control" name="name" placeholder="Name.." required>

					</div>

						<div class="col-md-6 form-group">
							<input type="email" class="form-control" name="email" placeholder="Email.." required>

						</div>

					</div>

					<textarea rows="5" class="form-control" name="message" placeholder="Your message here.." id="textarea" required></textarea>
				<br>
					<div class="row">

						<div class="col-md-12 form-group">
							<button class="btn btn-secondary" type="submit">Submit</button>

						</div>
					</div>

				</form>
</div>
		</div></div>


	<footer>
	<div class="row justify-content-center">
		<div class="col-md-5 text-center">
			<img src="#">
			<p>Our Humble Web Home</p>
			<strong>Contact info</strong>
			<p>(+381)62 888 8888<br>email: email@plumsolutions.com </p>

			<a href="https://www.facebook.com/clockworkplum/" target="_blank"><i class="fab fa-facebook-square"></i></a>
			<a href="https://twitter.com/eberna22" target="_blank"><i class="fab fa-twitter-square"></i></a>
			<a href="https://www.instagram.com/clockworkplum84/" target="_blank"><i class="fab fa-instagram-square"></i></a>



		</div>

		<hr class="socket">
		&copy; PlumSolutions Theme.
	</div>
	</footer>

	</div>




<!--End Contact Section-->



<!--- Script Source Files -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
<!--- End of Script Source Files -->

</body>
</html>




